Hello <b><%= (user.firstName + ' ' + user.lastName) || user.fullName || user.display %></b>,<br>
someone requested password reset for your account if you want to reset your password click link below:<br>
<br>
<a href="<%= `${env.baseHref}/user/reset-password/${key}` %>">
  <%= `${env.baseHref}/user/reset-password/${key}` %>
</a><br>
<br>
Let us know if it's not you.<br>
<br>
Best regards<br>
Reall Team<hr>
